<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Todo</title>
    <link rel="icon" type="image/x-icon" th:href="@{/images/logo.png}">
    <link rel="stylesheet" th:href="@{/styles/common/home.css}">
    <script th:src="@{/scripts/common/home.js}"></script>
</head>
<body>
    <div class="container">
        <div class="button-panel">
            <button class="action-button" th:onclick="navigateTo('/todo')">Todo Home</button>
            <button class="action-button" th:onclick="navigateTo('/account')">Account</button>
            <button class="action-button" th:onclick="navigateTo('/')">Home</button>
            <button class="notifications-button" th:onclick="navigateTo('/notifications')">Notifications</button>
            <button class="exit-button" th:onclick="navigateTo('/exit')">Exit</button>
        </div>

        <div class="text-container">
            <h2>Todo Creator</h2>
            <form th:action="@{/todo-create}" th:method="POST" th:object="${todo}">
                <label for="name">Name:</label>
                <br>
                <span style="color: #ba5c5a" th:if="${#fields.hasErrors('name')}" th:errors="*{name}"></span>
                <input style="height: 25px; width: 390px" type="text" th:field="*{name}" id="name" placeholder="Enter todo name" autocomplete="todo-name">
                <br>
                <br>
                <div th:each="taskFromList : ${tasks}">
                    <p th:text="${taskFromList.description}"></p>
                </div>

                <button type="submit" class="action-button">Save Todo List</button>
            </form>
            <br>
            <button class="action-button" th:onclick="navigateTo('/todo-create/task')">Add New Task</button>
        </div>
    </div>
</body>
</html>