<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Todo</title>
    <link rel="stylesheet" th:href="@{/styles/common/home.css}">
    <script th:src="@{/scripts/common/home.js}"></script>
</head>
<body>
    <div class="container">
        <div class="button-panel">
            <button class="action-button" th:onclick="navigateTo('/todo-create')">Create Todo</button>
            <button class="action-button" th:onclick="navigateTo('/todo-editor')">Todo Editor</button>
            <button class="action-button" th:onclick="navigateTo('/')">Home</button>
            <button class="action-button" th:onclick="navigateTo('/account')">Account</button>
            <button class="action-button" th:onclick="navigateTo('/todo')">Todo Home</button>
            <button class="notifications-button" th:onclick="navigateTo('/notifications')">Notifications</button>
            <button class="exit-button" th:onclick="navigateTo('/exit')">Exit</button>
        </div>

        <div class="text-container">
            <h2 th:text="${currentTodo.name}"></h2>
            <div th:each="task : ${currentTasks}">
                <span th:text="${task.description}"></span>
                <br>
                <span>Status: <span th:text="${task.finished ? 'Finished' : 'Not Finished'}"></span></span>
                <br>
                <br>
            </div>

            <a class="action-button" th:href="@{/todo-editor/{id}(id=${currentTodo.id})}">Edit</a>
            <br>
            <br>
            <form th:method="DELETE" th:action="@{/todo/{id}(id=${currentTodo.id})}" th:object="${currentTodo}">
                <button type="submit" class="action-button">Delete Todo</button>
            </form>
        </div>
    </div>
</body>
</html>