<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Todo</title>
    <link rel="stylesheet" th:href="@{/styles/common/home.css}">
    <script th:src="@{/scripts/common/home.js}"></script>
</head>
<body>
<div class="container">
    <div class="button-panel">
        <button class="action-button" th:onclick="navigateTo('/todo')">Todo Home</button>
        <button class="action-button" th:onclick="navigateTo('/account')">Account</button>
        <button class="action-button" th:onclick="navigateTo('/')">Home</button>
        <button class="action-button" th:onclick="navigateTo('/exit')">Exit</button>
    </div>

    <div class="text-container">
        <h2 th:text="${currentTodo.name}"></h2>
        <div th:each="task : ${currentTasks}">
            <p th:text="${task.description}"></p>
        </div>
    </div>
</div>
</body>
</html>