<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Todo</title>
    <link rel="stylesheet" th:href="@{/styles/common/home.css}">
    <script th:src="@{/scripts/common/home.js}"></script>
</head>
<body>
    <div class="container">
        <div class="left-container">
            <div class="button-panel">
                <button class="action-button" th:onclick="navigateTo('/todo')">Todo Home</button>
                <button class="action-button" th:onclick="navigateTo('/todo-create')">Create Todo</button>
                <button class="action-button" th:onclick="navigateTo('/account')">Account</button>
                <button class="action-button" th:onclick="navigateTo('/')">Home</button>
                <button class="notifications-button" th:onclick="navigateTo('/notifications')">Notifications</button>
                <button class="exit-button" th:onclick="navigateTo('/exit')">Exit</button>
            </div>
        </div>

        <div class="right-container" style="padding: 100px;">
            <h1>Edit Your Todos!</h1>
            <div th:each="todo : ${todos}">
                <a th:href="@{/todo-editor/{id}(id=${todo.id})}" th:text="${todo.name}"></a>
                <br>
                <br>
                <br>
            </div>
        </div>
    </div>
</body>
</html>