<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Todo</title>
    <link rel="stylesheet" th:href="@{/styles/common/home.css}">
    <script th:src="@{/scripts/common/home.js}"></script>
</head>
<body>
    <div class="container">
        <div class="left-container">
            <div class="button-panel">
                <button class="action-button" th:onclick="navigateTo('account')">Account</button>
                <button class="action-button" th:onclick="navigateTo('home')">Home</button>
                <button class="action-button" th:onclick="navigateTo('exit')">Exit</button>
            </div>


        </div>

        <div class="right-container">
            <h2>Why Todo App?</h2>
            <p>Our Todo App is designed to make task management a breeze. Here's why you should choose us:</p>
            <ul>
                <li>🌟 User-friendly interface for a seamless experience</li>
                <li>🔒 Secure and private task management</li>
                <li>📱 Access your tasks from anywhere, anytime</li>
                <li>💡 Innovative features to enhance your productivity</li>
            </ul>
        </div>
    </div>
</body>
</html>