<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Todo</title>
    <link rel="stylesheet" th:href="@{/styles/authenticated/user.css}">
    <script th:src="@{/scripts/common/home.js}"></script>
</head>
<body>
    <div class="container">
        <div class="button-panel">
            <button class="current-button" th:onclick="navigateTo('/notification')">Notification</button>
            <button class="action-button" th:onclick="navigateTo('/')">Home</button>
            <button class="action-button" th:onclick="navigateTo('/account')">Account</button>
            <button class="action-button" th:onclick="navigateTo('/todo')">Todo Home</button>
            <button class="notifications-button" th:onclick="navigateTo('/notifications')">Notifications</button>
            <button class="exit-button" th:onclick="navigateTo('/exit')">Exit</button>
        </div>

        <div class="text-container">
            <h2>You can set up your notifications here</h2>
            <form th:method="PUT" th:action="@{/notification}" th:object="${notification}">
                <label for="method">Sending Method:</label>
                <span style="color: #ba5c5a" th:if="${#fields.hasErrors('method')}" th:errors="*{method}"></span>
                <input type="text" list="methodOptions" th:field="*{method}" id="method">
                <datalist id="methodOptions">
                    <option th:each="method : ${notificationMethods}" th:value="${method}" th:text="${method}"></option>
                </datalist>
                <br>
                <br>
                <span style="color: #ba5c5a" th:if="${#fields.hasErrors('deadline')}" th:errors="*{deadline}"></span>
                <label for="end">Last day of Notifications: </label>
                <input type="date" th:field="*{deadline.deadline}" id="end">
                <br>
                <br>
                <label for="enabled">Is enabled: </label>
                <input type="checkbox" th:field="*{enabled}" id="enabled">
                <br>
                <br>
                <input type="submit" class="action-button">
            </form>
        </div>
    </div>
</body>
</html>